{% load static %}
{# {% load custom_tags %} #}
{# {% get_settings_value SITE_TITLE "SITE_TITLE" %} #}

<footer class="main-footer">
{% comment %}
<div class="container">
<div class="row">
<div class="col-md-4">
<div class="logo">
<h6 class="text-white">{{ settings.SITE_TITLE }}</h6>
</div>
<div class="contact-details">
<p>Danijele Popović 95, Bukurešt, Rumunija</p>
<p>Telefon: 074 6395 646</p>
<p>Email: <a href="mailto:info@dp-tech.tk">Info@dp-tech.tk</a></p>
{% comment %}
<ul class="social-menu">
<li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="fa fa-behance"></i></a></li>
<li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
</ul>
</div>
</div>
{% comment %}
<div class="col-md-4">
<div class="menus d-flex">
<ul class="list-unstyled">
<li> <a href="#">Moj nalog</a></li>
<li> <a href="#">Cenovnik</a></li>
<li> <a href="#">Privatnost</a></li>
</ul>
<ul class="list-unstyled">
<li> <a href="#">Partneri</a></li>
<li> <a href="#">Često postavljana pitanja</a></li>
<li> <a href="#">Kako radimo</a></li>
<li> <a href="#">Kontakt</a></li>
</ul>
</div>
</div>
</div>
</div>
{% endcomment %}
<div class="copyrights">
<div class="container">
<div class="row">
<div class="col-md-6">
<p>&copy; 2021. Sva prava zadržana. {{ settings.SITE_TITLE }}</p>
</div>
{% comment %}
<div class="col-md-6 text-right">
<!-- <p>Template By <a href="https://bootstraptemple.com" class="text-white">Bootstrap Temple</a> -->
<!-- Please do not remove the backlink to Bootstrap Temple unless you purchase an attribution-free license @ Bootstrap Temple or support us at http://bootstrapious.com/donate. It is part of the license conditions. Thanks for understanding :) -->
</p>
</div>
{% endcomment %}
</div>
</div>
</div>
</footer>
