{% extends "matches/base.html" %}
{% load static %}

{% block title %}{{ team.name }} | {{ block.super }}{% endblock title %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-lg-8"> 
<main class="container">
<article class="single">
<header class="details">
<h1>{{ team.name }}</h1>
<p class="text-muted" style="font-size: 100px;">{{ team.description }}</p>
</header><hr />
<section>
<header>
<h2>Mečevi u ulozi domaćina</h2>
</header>
{% for match in team.matches_hosted.all %}
<p>
<h3><a href="{{ match.get_absolute_url }}">{{ match.title }}</a></h3>
<span>{{ match.team1.name }} {{ match.team1_goals }} - {{ match.team2_goals }} {{ match.team2.name }}</span>
</p>
{% empty %}
<p>Još nije dodat nijedan meč sa ovim timom u ulozi domaćina.</p>
{% endfor %}
</section>
<section>
<header>
<h2>Mečevi u ulozi gosta</h2>
</header>
{% for match in team.matches_away.all %}
<p>
<h3><a href="{{ match.get_absolute_url }}">{{ match.title }}</a></h3>
<span>{{ match.team1.name }} {{ match.team1_goals }} - {{ match.team2_goals }} {{ match.team2.name }}</span>
</p>
{% empty %}
<p>Još nije dodat nijedan meč sa ovim timom u ulozi gosta.</p>
{% endfor %}
</section>
</article>
</main>
</div>

{% include "matches/sidebar.html" with most_recent=most_recent %}
</div>
</div>
{% endblock content %}
