{% load static %}
<!DOCTYPE html>
<html lang="sr@latn">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="title" content="{% block meta_title %}Euro 2020/2021 ⚽{% endblock meta_title %}" />
<meta name="description" content="{% block meta_description %}Rezultati i zanimljivosti vezani za Evropsko prvenstvo u fudbalu za 2020. godinu (održano 2021. zbog pandemije){% endblock meta_description %}" />
<meta name="keywords" content="{% block meta_keywords %}{{ settings.SITE_KEYWORDS }}{% endblock meta_keywords %}" />
<meta property="og:type" content="{% block meta_og_type %}website{% endblock meta_og_type %}" />
<meta property="og:url" content="{% block meta_og_url %}{{ settings.SITE_URL }}{% endblock meta_og_url" />
<meta property="og:title" content="{% block meta_og_title %}{{ settings.SITE_TITLE }}{% endblock meta_og_title %}" />
<meta property="og:description" content="{% block meta_og_description %}{{ settings.SITE_DESCRIPTION }}{% endblock meta_og_description %}" />
<title>{% block title %}{{ settings.SITE_TITLE }}{% endblock title %}</title>
<link rel="stylesheet" href="{% static 'css/w3.css' %}" type="text/css" />
{% block style %}
<style type="text/css">
:root {
font-size: 12px;
}
body {
width: 70%;
height: 100%;
margin: auto;
}
ul li {
list-style-type: none;
}
</style>
{% endblock style %}
<script src="{% static 'js/w3.js' %}"></script>
</head>
<body class="w3-black w3-text-white" itemscope itemtype="https://schema.org/{% block page_type %}WebSite{% endblock page_type %}">
<div class="w3-container w3-row w3-black w3-text-white">
{% include "sidebar.html" %}

<main class="w3-container w3-threequarter">
{% block content %}

{% endblock content %}
</main>

<footer class="w3-container w3-bottom" style="width: 100%;">
<p>&copy; 2021 Dani</p>
</footer>
</div>
</body>
</html>