<section class="w3-container w3-quarter sidebar" style="height: 100%;">
<header>
<h2 itemprop="name">EP 2020/2021 ⚽</h2>
<p itemprop="abstract">Rezultati i zanimljivosti o prvenstvu</p>
</header>
<nav class="w3-container w3-left w3-bar-block" style="background-color: #440044;">
<ul role="menu">
<li role="menuitem" class="w3-bar-item w3-hover-blue"><a href="{% url 'home' %}">Početna</a></li>
<li role="menuitem" class="w3-bar-item w3-hover-blue"><a href="{% url 'match_list' %}">Mečevi</a></li>
<li role="menuitem" class="w3-bar-item w3-hover-blue"><a href="{% url 'team_list' %}">Timovi</a></li>
<li role="menuitem" class="w3-bar-item w3-hover-blue"><a href="{% url 'about' %}">O sajtu</a></li>
<li role="menuitem" class="w3-bar-item w3-hover-blue"><a href="{% url 'author' %}">O autoru</a></li>
<li role="menuitem" class="w3-bar-item w3-hover-blue"><a href="{% url 'contact' %}">Kontakt</a></li>
</ul>
</nav>
</section><!-- end of sidebar -->
